In [2]:
import pandas as pd
df = pd.read_csv('../data/cleaned_data.csv')
df.head()

,age,sex,bmi,children,smoker,charges,region_northwest,region_southeast,region_southwest,bmi_category_normal,bmi_category_overweight,bmi_category_underweight,smoker_bmi
0,19,0,27.900,0,1,16884.92400,0,0,1,0,1,0,27.9
1,18,1,33.770,1,0,1725.55230,0,1,0,0,0,0,0.0
2,28,1,33.000,3,0,4449.46200,0,1,0,0,0,0,0.0
3,33,1,22.705,0,0,21984.47061,1,0,0,1,0,0,0.0
4,32,1,28.880,0,0,3866.85520,1,0,0,0,1,0,0.0

In [6]:
df = pd.read_csv('../data/medical_insurance.csv')
df['charges'].max()

63770.42801